<body>
<div class="login-wrapper" *ngIf="loginSuccesso==false && regSuccess==false && utente" >
    <mat-card class="box">
        <mat-card-header>
          <mat-card-title>Log in</mat-card-title>
        </mat-card-header>
        <br>
          <mat-card-content>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Username" [(ngModel)]="utente.username">
            </mat-form-field>
    <mat-form-field class="example-full-width">
              <input matInput placeholder="Password" [(ngModel)]="utente.password">
            </mat-form-field>
          </mat-card-content>
          <button mat-stroked-button color="accent" class="btn-block" (click)="login()">Log in</button>
          <br>
          <button mat-stroked-button color="account" class="btn-block" (click)="nuovoUtente()">Register</button>
      </mat-card>
    </div>

    <div class="login-wrapper" *ngIf="loginSuccesso==false && regSuccess==false && newUtente">
        <mat-card class="box">
          <mat-card-header>
            <mat-card-title>Register</mat-card-title>
          </mat-card-header>
          <br>
      <mat-card-content>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Username" [(ngModel)]="newUtente.username">
              </mat-form-field>
      <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" [(ngModel)]="newUtente.email">
              </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Name" [(ngModel)]="newUtente.name">
                </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Surname" [(ngModel)]="newUtente.surname">
                    </mat-form-field>
      <mat-form-field class="example-full-width">
                <input matInput placeholder="Password" [(ngModel)]="newUtente.password">
              </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block" (click)="registration(); loginUtente()">Register</button>
      <br>
      <button mat-stroked-button color="add" class="btn-block" (click)="loginUtente()">Cancel</button>
        </mat-card>
      </div>

      <div *ngIf="loginSuccesso==true">
        <app-agenda></app-agenda>
    
        <button mat-stroked-button color="add" class="btn-block" (click)="indietro()">Entra con un altro account</button>
    
    </div> 

</body>