<body>
  <h1>Agenda di VizzoViz</h1>

  <div>
    <div class="example-button-container">
    </div>
    <br>
    <mat-card>
      <mat-card-header>
        <mat-form-field>
          <mat-label>Nuova attività</mat-label>
          <input matInput [(ngModel)]="task.name">
        </mat-form-field>
        <mat-form-field class="color_picker">
          <mat-label>Colore</mat-label>
          <input matInput type="color" [(ngModel)]="task.color">
        </mat-form-field>
      </mat-card-header>
      <mat-card-actions>
        <mat-form-field>
          <mat-label>Priorità</mat-label>
          <mat-select [(ngModel)]="task.priority">
            <mat-option value="1">Assoluta</mat-option>
            <mat-option value="2">Alta</mat-option>
            <mat-option value="3">Media</mat-option>
            <mat-option value="4">Bassa</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-fab color="white" aria-label="Adding" (click)="add()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <hr>
  <div>
    <h2>Priorità assoluta</h2>
    <div *ngFor="let task of taskList1; index as i">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{task.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <button mat-fab color="white" aria-label="Adding" (click)="delete(i, taskList1)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div>
    <hr>
    <h2>Priorità alta</h2>
    <div *ngFor="let task of taskList2; index as i">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{task.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <button mat-fab color="white" aria-label="Adding" (click)="delete(i, taskList2)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div>
    <hr>
    <h2>Priorità media</h2>
    <div *ngFor="let task of taskList3; index as i">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{task.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <button mat-fab color="white" aria-label="Adding" (click)="delete(i, taskList3)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div>
    <hr>
    <h2>Priorità bassa</h2>
    <div *ngFor="let task of taskList4; index as i">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{task.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <button mat-fab color="white" aria-label="Adding" (click)="delete(i, taskList4)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</body>