mat-card {
    width: 330px;
}

body {
    background-color: #255d6a;
    padding: 30px;
}

.color_picker {
    width: 80px;
}

.mat-custom-btn {

    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: auto !important;
}

.mat-custom-input {
    width: 150% !important;
}

.mat-custom-card {
    padding: 16px !important;
}


