<body>
  <h1>Elenco attività da svolgere</h1>

  <div>
    <h2>Aggiungi attività</h2>
    <div class="example-button-container">
    </div>
    <br>
    <mat-card>
      <mat-card-header >
        <mat-form-field class="mat-custom-input">
          <mat-label>Nuova attività</mat-label>
          <input matInput [(ngModel)]="task.name">
        </mat-form-field>
      </mat-card-header>
      <mat-card-actions class="mat-custom-card">
        <mat-form-field>
          <mat-label>Priorità</mat-label>
          <mat-select [(ngModel)]="task.priority">
            <mat-option value="1">Assoluta</mat-option>
            <mat-option value="2">Alta</mat-option>
            <mat-option value="3">Media</mat-option>
            <mat-option value="4">Bassa</mat-option>
          </mat-select>
        </mat-form-field>
        <button class="mat-custom-btn" mat-fab color="white" aria-label="Adding" (click)="add()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <hr>
  <div>
    <div>
      <h2>Priorità assoluta</h2>
      <div *ngFor="let singleTask of taskList1">
        <br>
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{singleTask.name}}</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
            <button mat-fab color="white" aria-label="Adding" (click)="remove(singleTask.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div>
      <hr>
      <h2>Priorità alta</h2>
      <div *ngFor="let singleTask of taskList2">
        <br>
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{singleTask.name}}</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
            <button mat-fab color="white" aria-label="Adding" (click)="remove(singleTask.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div>
      <hr>
      <h2>Priorità media</h2>
      <div *ngFor="let singleTask of taskList3">
        <br>
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{singleTask.name}}</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
            <button mat-fab color="white" aria-label="Adding" (click)="remove(singleTask.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div>
      <hr>
      <h2>Priorità bassa</h2>
      <div *ngFor="let singleTask of taskList4">
        <br>
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{singleTask.name}}</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
            <button mat-fab color="white" aria-label="Adding" (click)="remove(singleTask.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</body>